/*-- OverRight css--*/

.skin-blue .main-header .navbar {
  background-color: #00466f;
}

.skin-blue .main-header .logo {
  background-color: #00466f;
}

/*-- DataTabe Custom Style --*/

.dc-table-style a.btn-view,
a.btn-edit,
a.btn-detect {
  font-size: 20px;
  padding-right: 10px;
}

.dc-table-style a.btn-view {
  color: #357CA5;
}

.dc-table-style a.btn-view:hover {
  color: #3c8dbc;
}

.dc-table-style a.btn-edit {
  color: #008D4C;
}

.dc-table-style a.btn-edit:hover {
  color: #00a65a;
}

.dc-table-style a.btn-detect {
  color: #D33724;
}

.dc-table-style a.btn-detect:hover {
  color: #f56954;
}

/*-- Modal Custom Style --*/

.example-modal .modal {
  position: relative;
  top: auto;
  bottom: auto;
  right: auto;
  left: auto;
  display: block;
  z-index: 1;
}

.example-modal .modal {
  background: transparent !important;
}

/*-- Product Images Size --*/

.dc-img-size70x70 {
  width: 70px;
  height: 70px;
  display: inline-block;
}

/*-- POS Pages Style --*/

.dc-product-category-List {
  overflow: hidden;
  padding-top: 10px;
}

.dc-product-category-List a {
  display: inline-block;
  padding: 5px;
  background: #00466f;
  border-radius: 10px;
  color: #fff;
}

.dc-product-category-List a:hover {
  background: #0473b5;
}

.dc-payment-button .row {
  padding-bottom: 10px;
}

.dc-btn-emerald {
  background-color: #2ecc71;
  border-color: #2ecc71;
  color: #fff;
}

.dc-btn-amethyst {
  background-color: #9b59b6;
  border-color: #9b59b6;
  color: #fff;
}

.g-recaptcha {
  -webkit-transform: scale(1.06, 0.75);
          transform: scale(1.06, 0.75);
  -webkit-transform-origin: 0px 0;
          transform-origin: 0px 0;
  margin-top: -8px;
  margin-bottom: -15px;
}

.invalid-feedback {
  display: block;
  width: 100%;
  margin-top: 0.25rem;
  font-size: 100%;
  color: #e3342f;
}

.validation-error {
  color: #e3342f !important;
}

.btn-primary:hover {
  background-color: #3c8dbc;
}

.alert-danger {
  color: #a94442;
  background-color: #862525;
  border-color: #ebccd1;
  background-image: linear-gradient(to bottom, #c53535 0, #e05151 100%);
}

.alert-success {
  background-image: linear-gradient(to bottom, #64ba40 0, #7cc85c 100%);
}

/*
.modal-open {
    overflow:hidden;
    overflow-y:scroll;
    padding-right:0 !important;
}
*/

.btn-group,
.btn-group-vertical {
  display: block !important;
}

.dataTables_info {
  float: left !important;
}

.dt-buttons {
  float: left !important;
}

.table-bordered {
  border: 1px solid #ddd;
}

.table-bordered > tbody > tr > td,
.table-bordered > tbody > tr > th,
.table-bordered > tfoot > tr > td,
.table-bordered > tfoot > tr > th,
.table-bordered > thead > tr > td,
.table-bordered > thead > tr > th {
  border: 1px solid #ddd !important;
}

.wd-full {
  width: 100% !important;
}

.vendor-logo {
  max-height: 100px;
}

.table-bordered tbody tr:hover td,
.table tbody tr:hover th {
  background-color: #e2e2e2;
}

.dataTables_length {
  float: left !important;
}

.text-view {
  border: 1px solid #d2d6de;
  padding: 5px;
}

.img-table {
  max-height: 60px;
  max-width: 150px;
}

.alert-success {
  background-image: linear-gradient(to bottom, #00a65a 0, #00a65a 100%);
}

